
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root {
    --r: #FF7C79;
    --bb: #71FFE3;
    --lb: #002451;
    --db: #041A35;
    --o: #FFC58F;
    --g: #D1E58D;
    --y: #F0EEAD;
    --p: #EBBBFF;
}

a:visited {
    color: var(--r);
}
a:hover {
    color: var(--y);
}
a:link {
    color: var(--p);
}
a:active {
    color: var(--bb);
}

p {
    color: var(--y);
}

header section h4  {
    color: var(--g);
}



/* body {
    width: 50%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--lb);
    align-content:center;
    
} */


header {
    display:flex;
    flex-direction: row;
    background-color:transparent;
    padding-left: 20px;
    padding-right: 20px;
}


figure {
    border-radius: 10px;
    border-radius: 10%;
    border-image: 10%;
}


h3 {
    padding: 10px;
    /* margin: 10px; */
}


body header section {
    background-color: var(--db);
    padding: 10px;
    text-align: center;
}


div {
    background-color: transparent;
}

#name {
    
    position:relative;
    z-index: 2;
    display:flex;
    color: hotpink;
    text-shadow: 2 2 4 tomato;
}
#wordyName {
    background-color: transparent;
    text-shadow: 2 2 4 tomato;
}

#aboutMe p{
    padding-right: 90px;
}



 #navSection {
    align-content:center;

}

nav {

    text-align: center;
    margin-right: auto;
    background-color: aliceblue;
}


/* ---------------------------------------------------------------------------------------------------------- */

#myWork {
    display:flex;
    flex-wrap: wrap;
    /* align-content:center; */
    justify-content: center;
    /* flex-direction: row; */
    /* align-items: center; */
    /* width: 40%; */
}



.workBox {
    width: 40%;
    display:flex;
    flex: 0 0 50%;

}

#mainBox {
    width: 100%;
}

/* #myWork h2 {
    text-align: center;
} */

#myWork #mainBox h3 {
    position:relative;
    right:10px;
    top: 210px;
    z-index: 20;
    /* margin-right: 740px; */
    background-color: var(--db);
    box-shadow: 5px -5px 40px var(--db);
    /* margin-top: -20px; */
}

#myWork .fourBoxes h3 {
    position:relative;
    right:20px;
    top:220px;
    z-index: 21;
    /* margin-right: 75%; */
    background-color: var(--db);
    box-shadow: 5px -5px 40px var(--db);
}

#myWork article {
    background-color:var(--db);
    box-shadow: 2 2 10px black;
    padding: 2px 5px 2px 5px;
    /* margin: 2px 5px 2px 5px; */
}


article .workText {
    justify-content: right;
}



#mainBox img {
    object-fit: cover;
    width: 900px;
    height: 200px;
    filter:contrast(150%) brightness(200%);
}


.fourBoxes img {
    object-fit: cover;
    width: 700px;
    height: 200px;
    filter:blur(1px) brightness(200%);
}

.fourBoxes article {
    /* margin: 10% 10% 10% 5px; */
    flex: 1 0 200px;
}

.fourBoxes {
    flex: 1 0 200px;
}


#workTwo img {

    filter:contrast(150%) brightness(120%) saturate(100%);
}


#workThree img {
    filter:blur(1px) brightness(100%) contrast(100%) saturate(100%);
}
/* --------------------------------------------------------------------------------------------------------------------------------------- */


/* #contact {

    margin-bottom: 200px;

} */


/* ---------------------------------------------------------------------------------------------------------------------------------- */

footer {
    Background-color: var(--db);
    position: fixed;
    display: flex;
    bottom: -9px;
}

#footerText {
    display:inline-flex;
    background-color:transparent;
    color: aliceblue;
}




@media screen and (max-width: 768px){
    nav {
        position:fixed; 
        top: 0px;
    }
    
}

