
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root {
    --box1: aliceblue;
}

body {
    width: 50%;
    align-items: center;
    display:flex;
    flex-direction:column;
    /* background-color: slategray; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 19%, rgba(84,84,84,1) 21%, rgba(255,0,0,1) 52%, rgba(0,0,0,1) 82%);


}

#backgroundImage {
    position:fixed;
    z-index: -90;
    filter:blur(1px) brightness(100%) saturate(200%) contrast(140%);
    margin-top: -20px;
    display:flex;
    justify-content: center;
    
}

figure {
    border-radius: 10px;
    border-radius: 10%;
    border-image: 10%;
}

h3 {
    padding: 10px;
    margin: 10px;
}

header {
    flex-direction: row;
    background-color:transparent;
    padding-left: 20px;
    padding-right: 20px;
}


div {
    background-color: transparent;
}

#name {
    
    position:relative;
    z-index: 2;
    display:flex;
    color: hotpink;
    text-shadow: 2 2 4 tomato;
}
#wordyName {
    background-color: transparent;
    text-shadow: 2 2 4 tomato;
}

#codeBanner {
    position:relative;
    display:flex;
    flex: 1 1 100;
    z-index: 1;
    /* filter:saturate(200%) brightness(200%) contrast(150%); */
    margin-top: -30px;
}

/* aside {

} */

#navSection {
    background-color:rgb(255, 0, 0);
    height:60px;
    width: 400px;
    display:flex;
    position:fixed;
    right: 0;
    top: 50%;
    bottom: 50%;
    justify-content: column;
    flex: 1 0 200px;
}

nav {
    text-align: center;
}

container:

/* ---------------------------------------------------------------------------------------------------------------------------------- */

#myWork {
    display:flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 200px;
}

.workBox {
    justify-content: right;

}

article {
    background-color:var(--box1);
    box-shadow: 2 2 10px black;
    padding: 10px;
    margin: 20px;
}

article .workText {
    justify-content: right;
}

#mainBox img {
    object-fit: cover;
    width: 900px;
    height: 200px;
    filter:contrast(150%) brightness(200%);
}

.fourBoxes img {
    object-fit: cover;
    width: 700px;
    height: 200px;
    filter:blur(1px) brightness(200%);
}

.fourBoxes {
    display: flex;
    flex-wrap: wrap;
}

#workTwo img {

    filter:contrast(150%) brightness(120%) saturate(100%);
}

#workThree img {
    filter:blur(1px) brightness(100%) contrast(100%) saturate(100%);
}

/* ---------------------------------------------------------------------------------------------------------------------------------- */

footer {
    Background-color: var(--box1);
    position: fixed;
    display: flex;
    bottom:0;
}

#footerText {
    display:inline-flex;
    background-color:transparent;
    color: aliceblue;
}

/* @media screen and (max-width: 600px){
    nav {
        position:fixed; 
        top: 0px;
    }
    
} */

